*
{
    margin: 0;
    padding: 0;
    text-align: center;

}
h1{
    background-color: #081b31;
    color: #fff;
    height: 5rem;
    
    line-height: 5rem;
}
.choice
{
   height: 160px;
   width: 150px;
   border-radius: 50%;
   display: flex;
   
}
img{
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid aqua;
}
.choices{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-top: 3rem;
}
.choice:hover{
    opacity: 2;
    cursor: pointer;
    border-bottom:5px solid rgb(29, 13, 13);
}
.scoreboard
{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3rem;
    font-size: 2rem;
    gap: 4rem;
}
#user-score,#comp-score
{
    font-size: 4rem;
}
#msg
{
    font-size: 3rem;
    background-color: aqua;
    color:black;
    margin-top: 3rem;
    display: inline;
    border-radius: 1rem;
    padding: 1rem;

}
.msg-container
{
    margin-top: 5rem;
}